/* ---------------------------------------------------------------------- */
/*  Geo location IP map
/* ---------------------------------------------------------------------- */

.geoInfoTable {
	width:100%;
}

.geoInfoTable td {
	font-size: 12px;
}	

.geoInfoLabel {
	text-align: center;
	font-weight: bold;
}

.geoInfoIPCount {
	font-style: italic;
	width: 3em;	
}

.geoInfoIPList {
	overflow-y: auto;
	max-height: 150px;	
}

.geoLocInfoBox {
	border: 1px solid black; 
	margin-top: 8px; 
	background: lightgray; 
	padding: 5px; 
	color:black;
}